createdAt: "2018-09-21T09:50:14.006Z"
updatedAt: "2018-09-21T09:51:24.614Z"
type: "SNIPPET_NOTE"
folder: "24cd1938f66bd85d060d"
title: "Return proper readable value add __str__"
description: "Return proper readable value add __str__"
snippets: [
  {
    name: "model_str.py"
    mode: "Python"
    content: '''
      def __unicode__(self):
          return u'%s' % self.slug
      
      def __str__(self):
          return u'%s' % self.slug
    '''
  }
]
tags: [
  "django"
  "model"
]
isStarred: false
isTrashed: false
