createdAt: "2018-10-17T14:12:16.681Z"
updatedAt: "2018-10-17T14:12:58.496Z"
type: "SNIPPET_NOTE"
folder: "43ecb1d089b690773bbe"
title: "Create S3 session with credentails"
description: "Create S3 session with credentails"
snippets: [
  {
    name: ""
    mode: "Python"
    content: '''
      session = boto3.Session(
              aws_access_key_id=settings.AWS_ACCESS_KEY_ID,
              aws_secret_access_key=settings.AWS_SECRET_ACCESS_KEY,
          )
         
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
