createdAt: "2018-09-21T09:51:52.992Z"
updatedAt: "2018-09-21T09:52:29.990Z"
type: "SNIPPET_NOTE"
folder: "24cd1938f66bd85d060d"
title: "UUID Primary key"
description: "UUID Primary key"
snippets: [
  {
    name: ""
    mode: "Python"
    content: '''
      uuid = models.UUIDField(
              primary_key=True, default=uuid.uuid4, editable=False, unique=True)
          
    '''
  }
]
tags: [
  "django"
  "model"
]
isStarred: false
isTrashed: false
